.container-FadeIgame {
	position: relative;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--third-bg-color);
	animation: changeColor 0.75s linear 2.7s forwards;
}

.FadeImage {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeInOut 16s ease 3.9s forwards;
	filter: brightness(0.4);
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: scale(1.15);
	}
	5% {
		opacity: 1;
	}
	25% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
