.contenedor-gallery-image {
	width: 100%;
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
	margin: 0 auto;
}

.box-bg-gallery {
	width: 100%;
	height: 80%;
	background-color: var(--opinions-bg-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	position: relative;
	opacity: 0;
	animation: fadeIn 1s linear forwards;
	padding: 1rem;
}

.thumbnail {
	width: calc(100% / 6.5);
	height: 100%;
	max-height: 580px;
	object-fit: cover;
	filter: grayscale(100%);
	opacity: 0;
	transform: translateY(20px);
	transition: transform 0.5s ease, filter 0.5s ease;
	animation: fadeInBtm 0.5s ease-out forwards;
	cursor: pointer;
}

.thumbnail:hover {
	filter: grayscale(0);
}

.main-img {
	width: calc(100% / 6.5 * 2.5 - 3rem);
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	object-fit: cover;
	cursor: pointer;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInBtm 0.5s linear 1s forwards;
}

.thumbnail:nth-child(1) {
	animation-delay: 0.2s;
}

.thumbnail:nth-child(2) {
	animation-delay: 0.4s;
}

.thumbnail:nth-child(3) {
	animation-delay: 0.6s;
}

.thumbnail:nth-child(4) {
	animation-delay: 0.8s;
}

.fade {
	animation: fadeMainImg 0.35s linear forwards;
}

@keyframes fadeMainImg {
	from {
		opacity: 0;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn-open-modal {
	padding: 0.5em;
	vertical-align: middle;
	font-size: 1.5rem;
	letter-spacing: 5px;
	font-family: "variableFontThing";
	background-color: var(--third-bg-color);
	color: var(--main-bg-color);
	max-width: 350px;
	width: 300px;
	height: fit-content;
	position: absolute;
	right: -5%;
	bottom: 20%;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
	outline: none;
	border: none;
	opacity: 0;
	transform: translateX(20px);
	animation: fadeInRght 0.5s ease-out 1.2s forwards;
}

.arrow-icon {
	font-size: 3rem;
	background-color: var(--third-bg-color);
}

.thumbnail.active {
	filter: grayscale(0%);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.box-bg-gallery {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, auto);
		height: auto;
		width: 100%;
		gap: 0.65em;
		padding: 1em;
	}

	.thumbnail:first-child {
		grid-column: 1;
		grid-row: 1;
	}

	.thumbnail:nth-child(2) {
		grid-column: 2;
		grid-row: 1;
	}

	.thumbnail:nth-child(3) {
		grid-column: 1;
		grid-row: 2;
	}

	.thumbnail:nth-child(4) {
		grid-column: 2;
		grid-row: 2;
	}

	.main-img {
		grid-column: 3 / 5;
		grid-row: 1 / 3;
	}

	.thumbnail {
		min-width: 100%;
		height: 100%;
	}

	.main-img {
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
		object-fit: cover;
		transform: translateX(0);
	}

	.btn-open-modal {
		padding: 0.5em;
		font-size: var(--font-size-sm);
		max-width: 220px;
		min-height: auto;
		width: 175px;
		position: absolute;
		right: -5%;
		bottom: 7.5%;
		letter-spacing: 2.5px;
	}

	.arrow-icon {
		font-size: var(--font-size-lg);
	}
}

@media screen and (min-width: 1025) and (max-width: 1280px) {
	.contenedor-intro {
		justify-content: center;
	}

	.contenedor-gallery-image {
		align-items: center;
	}

	.thumbnail {
		max-height: 231px;
	}

	.box-bg-gallery {
		padding: 0.75em;
		height: fit-content;
	}

	.main-img {
		height: calc(100vh - 5rem);
		height: calc(100dvh - 5rem);
		max-height: 580px;
		bottom: 0.75rem;
	}

	.btn-open-modal {
		letter-spacing: 2.5px;
		max-width: 200px;
		width: 175px;
		padding: 0.5em;
		font-family: variableFontThing;
		font-size: var(--font-size-sm);
		bottom: calc(0.65rem * 2.5);
	}

	.arrow-icon {
		font-size: var(--font-size-lg);
	}
}

@media screen and (min-width: 1025) and (max-width: 1439px) {
	.box-bg-gallery {
		padding: 0.75em;
	}

	.main-img {
		bottom: 0.75rem;
	}
}

@media screen and (min-width: 1281) and (max-width: 1439px) {
	.contenedor-intro {
		justify-content: end;
	}

	.box-bg-gallery {
		height: fit-content;
	}

	.main-img {
		aspect-ratio: 1/1.5;
	}

	.btn-open-modal {
		justify-content: space-around;
		align-items: center;
		width: 200px;
		padding: 0.5em;
		font-size: var(--font-size-base);
	}

	.arrow-icon {
		font-size: var(--font-size-lg);
	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.btn-open-modal {
		width: 250px;
		font-size: var(--font-size-base);
	}

	.main-img {
		aspect-ratio: 1/1.5;
	}

	.contenedor-intro {
		justify-content: end;
	}

	.box-bg-gallery {
		height: fit-content;
	}

	.thumbnail {
		aspect-ratio: 1/1.5;
	}
}

@media screen and (min-width: 1920px) {
	.contenedor-intro {
		justify-content: end;
	}

	.main-img {
		aspect-ratio: 1 / 1.4;
	}

	.btn-open-modal {
		width: 250px;

		font-size: var(--font-size-base);
	}

	.arrow-icon {
		font-size: var(--font-size-xl);
	}
}

@media screen and (max-width: 767px) {
	.contenedor-gallery-image {
		width: 100%;
		align-items: start;
		justify-content: end;
		margin-top: 2rem;
	}

	.contenedor-gallery-image .box-bg-gallery {
		width: 95%;
		height: auto;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		padding: 0.5em;
		gap: 0.5em;
	}

	.box-bg-gallery .thumbnail {
		width: 100%;
		aspect-ratio: 16 / 9;
	}

	.box-bg-gallery .thumbnail:first-child {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	.box-bg-gallery .thumbnail:nth-child(2) {
		grid-column: 3 / 5;
		grid-row: 1 / 2;
	}

	.box-bg-gallery .thumbnail:nth-child(3) {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	.box-bg-gallery .thumbnail:nth-child(4) {
		grid-column: 3 / 5;
		grid-row: 2 / 3;
	}

	.box-bg-gallery .main-img {
		grid-column: 1 / 5;
		grid-row: 3 / 5;
		width: 100%;
		aspect-ratio: 16 / 9;
		position: unset;
		object-fit: cover;
	}

	.box-bg-gallery .btn-open-modal {
		font-size: 12px;
		width: fit-content;
		height: fit-content;
		padding: 0.05em 1em;
		bottom: 10%;
		right: -2%;
		letter-spacing: 3px;
	}

	.arrow-icon {
		font-size: var(--font-size-lg);
		margin-left: 0.15em;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	.contenedor-gallery-image {
		width: 100%;
		align-items: start;
		margin-top: 2rem;
	}

	.contenedor-gallery-image .box-bg-gallery {
		width: 95%;
		height: auto;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: 0.5em;
		gap: 0.5em;
	}

	.box-bg-gallery .thumbnail {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
	}

	.box-bg-gallery .thumbnail:first-child {
		grid-row: 1;
		grid-column: 1;
	}

	.box-bg-gallery .thumbnail:nth-child(2) {
		grid-row: 1;
		grid-column: 2;
	}

	.box-bg-gallery .thumbnail:nth-child(3) {
		grid-row: 2;
		grid-column: 1;
	}

	.box-bg-gallery .thumbnail:nth-child(4) {
		grid-row: 2;
		grid-column: 2;
	}

	.box-bg-gallery .main-img {
		grid-column: 3 / 5;
		grid-row: 1 / 3;
		width: 100%;
		height: 100%;
		position: unset;
		object-fit: cover;
	}

	.box-bg-gallery .btn-open-modal {
		font-size: 12px;
		width: fit-content;
		height: fit-content;
		padding: 0.05em 1em;
		bottom: 10%;
		right: -2%;
		letter-spacing: 3px;
	}

	.arrow-icon {
		font-size: var(--font-size-lg);
		margin-left: 0.15em;
	}
}
