.wraper-toasts-list {
	max-width: 500px;
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: var(--font-size-base);
	font-family: "variableFont";
	background-color: transparent;
	position: fixed;
	right: 2rem;
	top: 65%;
	transform: translateY(-50%);
	z-index: 10000;
	overflow: auto;
}

.wraper-toasts-list .toast {
	width: 100%;
	padding: 1em;
	background-color: var(--third-bg-color);
	color: var(--main-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transform: translateY(25px);
	animation: fadeInBtm 0.25s linear forwards;
	font-size: var(--font-size-base);
}

.btn-toast-close {
	background-color: transparent;
	color: var(--main-bg-color);
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.icon-toast {
	color: var(--main-bg-color);
	background-color: transparent;
	font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
	.wraper-toasts-list {
		left: 0;
		top: 20%;
		max-width: 100vw;
		width: 100vw;
	}
}
