section {
	width: 80%;
	min-height: 100vh;
	min-height: 100svh;
	margin: 3rem auto;
	margin-top: 3rem;
	scroll-snap-align: start;
}

#introducción {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

#introducción h1 {
	font-family: "ciabatta";
}

#introducción h2 {
	font-family: "variableFont";
	letter-spacing: 3px;
}

#introducción p {
	color: var(--third-bg-color);
	letter-spacing: 1px;
	font-family: "variableFont";
}

#introducción h1,
#introducción h2 {
	color: var(--secondary-bg-color);
}

.contenedor-intro {
	padding: 2rem 0;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contenedor-intro b {
	color: var(--third-bg-color);
	font-family: "variableFontBold";
}

.contenedor-intro p,
.contenedor-intro h2,
.contenedor-intro h1 {
	transform: translatex(-50px);
	filter: blur(20);
	opacity: 0;
	transition: all linear 0.35s;
	animation: showContent 0.35s linear forwards;
}

@keyframes showContent {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translatex(0);
	}
}

.contenedor-intro p {
	animation-delay: 0.2s;
}

.contenedor-intro h1 {
	animation-delay: 0.4s;
}

.contenedor-intro h2 {
	animation-delay: 0.6s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.contenedor-intro {
		padding: 1rem;
	}

	#introducción {
		height: min-content;
	}

	.contenedor-intro {
		width: 100%;
	}

	#introducción h1 {
		font-size: var(--font-size-xxl);
	}

	#introducción h2 {
		font-size: var(--font-size-md);
		letter-spacing: 1.5px;
	}

	#introducción p {
		font-size: var(--font-size-md);
		letter-spacing: 0.8px;
		margin: 1.5rem 0;
		margin-bottom: 1rem;
		width: 100%;
	}

	#introducción b {
		font-size: var(--font-size-md);
		letter-spacing: 2px;
	}

	#introducción p br {
		display: none;
	}
}

@media screen and (width >= 1025px) and (width <= 1280px) {
	#introducción p,
	#introducción b {
		font-size: var(--font-size-md) !important;
	}

	#introducción h1 {
		font-size: var(--font-size-xxl) !important;
	}

	#introducción h2 {
		font-size: var(--font-size-md) !important;
	}
}

@media screen and (min-width: 1025) and (max-width: 1919) {
	.contenedor-intro {
		padding: 0px;
	}

	#introducción h2 {
		letter-spacing: 1px;
	}

	#introducción p {
		letter-spacing: 0.8px;
		margin-bottom: 1rem;
	}

	#introducción p br {
		display: none;
	}

	#introducción b {
		letter-spacing: 2px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	#introducción h1 {
		font-size: var(--font-size-xxl);
	}

	#introducción h2 {
		font-size: var(--font-size-md);
	}

	#introducción p {
		font-size: var(--font-size-md);
	}
	#introducción b {
		font-size: var(--font-size-md);
	}
}

@media screen and (min-width: 1281px) and (max-width: 1439px) {
	#introducción h1 {
		font-size: var(--font-size-xxl);
	}

	#introducción h2 {
		font-size: var(--font-size-md);
	}

	#introducción p {
		font-size: var(--font-size-md);
	}
	#introducción b {
		font-size: var(--font-size-md);
	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	#introducción h1 {
		font-size: var(--font-size-xxxl);
	}

	#introduccion h2 {
		font-size: var(--font-size-lg);
	}

	#introducción p {
		font-size: var(--font-size-lg);
	}
	#introducción b {
		font-size: var(--font-size-lg);
	}
}

@media screen and (min-width: 1920px) {
	section {
		justify-content: space-around;
	}

	#introducción h1 {
		font-size: var(--font-size-xxxl);
	}
	#introduccion h2 {
		font-size: var(--font-size-lg);
	}

	#introducción p {
		font-size: var(--font-size-lg);
	}
	#introducción b {
		font-size: var(--font-size-lg);
	}
}

@media screen and (max-width: 767px) {
	#introducción {
		display: flex;
		width: 100vw;
		height: 100vh;
		width: 100svw;
		height: 100svh;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	#introducción p {
		font-size: var(--font-size-base);
	}

	#introducción b {
		font-size: var(--font-size-base);
	}

	#introducción h1 {
		margin-top: 0.25em;
		font-size: var(--font-size-xxl);
	}

	#introducción h2 {
		font-size: var(--font-size-base);
		letter-spacing: 0;
	}

	.contenedor-intro {
		width: 100%;
		height: auto;
		padding: 1em;
		justify-content: end;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	#introducción {
		height: fit-content;
		min-height: 100svh;
		min-height: 100vh;
		margin-bottom: 2em;
		justify-content: end;
	}
}
