section {
	width: 80%;
	height: 100vh;
	height: 100dvh;
	margin: auto;
	scroll-snap-align: start;
}

#introducción {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#introducción h1 {
	font-family: "ciabatta";
	font-size: 6rem;
}

#introducción h2 {
	font-family: "variableFont";
	font-size: 2rem;
	letter-spacing: 3px;
}

#introducción p {
	color: var(--third-bg-color);
	font-size: 1.8rem;
	letter-spacing: 1px;
	font-family: "variableFont";
}

#introducción h1,
#introducción h2 {
	color: var(--secondary-bg-color);
}

.contenedor-intro {
	padding: 2rem;
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.contenedor-intro b {
	color: var(--third-bg-color);
	font-family: "variableFontBold";
}

.contenedor-intro p,
.contenedor-intro h2,
.contenedor-intro h1 {
	transform: translatex(-50px);
	filter: blur(20);
	opacity: 0;
	transition: all linear 0.35s;
	animation: showContent 0.35s linear forwards;
}

@keyframes showContent {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translatex(0);
	}
}

.contenedor-intro p {
	animation-delay: 0.2s;
}

.contenedor-intro h1 {
	animation-delay: 0.4s;
}

.contenedor-intro h2 {
	animation-delay: 0.6s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.contenedor-intro {
		padding: 1rem;
	}

	#introducción {
		height: min-content;
	}

	.contenedor-intro {
		width: 100%;
	}

	#introducción h1 {
		font-size: 3rem;
	}

	#introducción h2 {
		font-size: 1.5rem;
		letter-spacing: 1.5px;
	}

	#introducción p {
		font-size: 1.5rem;
		letter-spacing: 0.8px;
		margin: 1.5rem 0;
		margin-bottom: 1rem;
		width: 100%;
	}

	#introducción b {
		font-size: 1.5rem;
		letter-spacing: 2px;
	}

	#introducción p br {
		display: none;
	}
}

@media screen and (min-width: 1025) and (max-width: 1919) {
	.contenedor-intro {
		padding: 0px;
	}

	#introducción h2 {
		letter-spacing: 1px;
	}

	#introducción p {
		letter-spacing: 0.8px;
		margin-bottom: 1rem;
	}

	#introducción p br {
		display: none;
	}

	#introducción b {
		letter-spacing: 2px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
	#introducción h1 {
		font-size: 4.5rem;
	}

	#introducción h2 {
		font-size: 1.75rem;
	}

	#introducción p {
		font-size: 1.5rem;
	}
	#introducción b {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
	#introducción h1 {
		font-size: 4.5rem;
	}

	#introducción p {
		font-size: 1.75rem;
	}
	#introducción b {
		font-size: 1.75rem;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
	#introducción h1 {
		font-size: 5.5rem;
	}

	#introducción p {
		font-size: 2rem;
	}
	#introducción b {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1920px) {
	#introducción h1 {
		font-size: 6rem;
	}

	#introducción p {
		font-size: 2rem;
	}
	#introducción b {
		font-size: 2rem;
	}
}
