.modal-dialog {
	width: 40vw;
	height: 100vh;
	margin: auto auto;
	border: none;
	overflow-y: hidden;
}

.modal-content {
	height: 100%;
	width: 100%;
}

.modal-dialog img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	object-fit: cover;
}

.modal-dialog::backdrop {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

@media screen and (max-width: 767px) {
	.modal-dialog {
		width: 100vw;
		height: 100vh;
		margin: auto auto;
		border: none;
		overflow-y: hidden;
	}
}
