.videoPlayQueue-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	width: 100svw;
	height: 100svh;
	max-height: 100svh;
	overflow: hidden;
	background-color: var(--third-bg-color);
	animation: changeColor 0.75s linear 2.7s forwards;
}
