.container-carrousel {
	width: 80vw;
	min-height: 100vh;
	height: fit-content;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	margin-block: 3rem;
	padding-top: 3rem;
	margin: auto;
}

.wraper-text-carrousel {
	background-color: var(--secondary-bg-color);
	width: 100%;
	opacity: 0;
	animation: fadeIn 0.2s linear forwards;
}

.wraper-text-carrousel p {
	font-family: "variableFontThing";
	background-color: transparent;
	color: var(--main-bg-color);
	width: 100%;
	font-size: var(--font-size-md);
	text-align: center;
	padding: 2rem;
	letter-spacing: 2px;
	opacity: 0;
	filter: blur(20);
	transform: translateX(-50px);
	animation: fadeInBlutRght 0.5s linear forwards;
}

.wraper-text-carrousel b {
	background-color: transparent;
	font-family: "variableFontBold";
}

.wraper-slider {
	width: 100%;
	aspect-ratio: 16 / 9;
	display: flex;
	overflow: hidden;
	opacity: 0;
	animation: fadeIn 0.5s linear 0.5s forwards;
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	transition: transform 0.5s ease;
}

.slide {
	width: 100%;
	height: auto;
	flex-shrink: 0;
	scroll-snap-align: center;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide:nth-child(1) img {
	object-position: 0% 60%;
}

.slide:nth-child(5) img {
	object-position: 0% 60%;
}

.control-container {
	min-width: 200px;
	height: 50px;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	background-color: var(--secondary-bg-color);
	color: var(--main-bg-color);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.25rem;
}

.control-container button {
	font-family: "variableFont";
	color: var(--main-bg-color);
	background-color: transparent;
	font-size: var(--font-size-md);
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
}

.control-container button svg {
	background-color: transparent;
	font-size: var(--font-size-lg);
}

.control-container .page-counter {
	background-color: transparent;
	color: var(--main-bg-color);
	font-family: "variableFont";
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.wraper-text-carrousel p,
	.wraper-text-carrousel b {
		font-size: var(--font-size-base);
	}
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
	.wraper-text-carrousel p,
	.wraper-text-carrousel b {
		font-size: var(--font-size-md);
	}
}

@media screen and (max-width: 767px) {
	.container-carrousel {
		justify-content: start;
		min-height: 100vh;
		min-height: 100svh;
		height: 100vh;
		height: 100svh;
		width: 100vw;
		width: 100svw;
		margin-bottom: 8rem;
	}

	.wraper-text-carrousel p {
		font-size: var(--font-size-base);
		padding: 0.75em;
	}

	.wraper-slider {
		min-height: 85%;
	}

	.control-container {
		position: static;
		justify-content: space-between;
		width: 100%;
		min-height: 50px;
	}

	.page-counter {
		font-size: var(--font-size-base);
	}

	.control-container button {
		position: unset;
		padding: 0 1em;
	}

	.slide:first-child img {
		object-position: center;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	.wraper-slider {
		aspect-ratio: 16 / 9;
		width: 100%;
		min-height: 85%;
		height: fit-content;
	}

	.container-carrousel {
		min-height: fit-content;
		height: fit-content;
		margin-bottom: 4em;
	}

	.control-container {
		justify-content: space-between;
		width: 100%;
		height: fit-content;
	}
}
