.container-section {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 20% 80%;
}

.container-text {
	background-color: var(--secondary-bg-color);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease-out forwards;
}

.container-text h2,
b {
	font-family: "variableFont";
	background-color: transparent;
	letter-spacing: 4px;
	font-size: 2rem;
	color: var(--main-bg-color);
	text-align: center;
	opacity: 0;
	filter: blur(20);
	transform: translateX(-50px);
	animation: showHeaderText 0.5s ease-out forwards;
}

@keyframes showHeaderText {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
}
