.background-loading {
	width: 100vw;
	height: 100vh;
	background-color: var(--third-bg-color);
}

.background {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--third-bg-color);
}

header h1 {
	font-family: "ciabatta";
	font-size: var(--font-size-xxxl);
}

header h2 {
	font-family: "variableFont";
	font-size: var(--font-size-md);
}

header h1,
header h2 {
	color: var(--main-bg-color);
	background-color: transparent;
}

header {
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	overflow: hidden;
}
.tracking-in-expand {
	will-change: transform, opacity;
	animation: tracking-in-expand 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s
		both;
}

.tracking-in-contract {
	will-change: transform, opacity;
	animation: tracking-in-contract 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s
		both;
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}

#container-logo_sierraBaja {
	position: relative;
	max-width: 370px;
	overflow: hidden;
	bottom: -10px;
}

.logo {
	display: block;
	width: 100%;
	height: auto;
}

#container-logo_sierraAlta {
	overflow: hidden;
	max-width: 100px;
	position: relative;
	left: 75px;
	top: 11px;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--third-bg-color);
}

#container-logo_sierraAlta,
#container-logo_sierraBaja,
.logo {
	background-color: transparent;
}

.mask-logo_sierraAlta {
	animation: slide_left 5s ease 1s forwards;
}

.mask-logo_sierraBaja {
	animation: slide_right 2s ease 1s forwards;
}

@keyframes slide_right {
	to {
		transform: translateX(100%);
	}
}

@keyframes slide_left {
	to {
		transform: translateX(-250%) scale(0.99);
	}
}

.path {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	animation: fade-in-bottom 1.25s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
	background-color: transparent;
	object-fit: cover;
	position: absolute;
	bottom: -12%;
}

@keyframes fade-in-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.path {
		bottom: -5%;
	}

	#container-logo_sierraBaja {
		max-width: 300px;
	}

	#container-logo_sierraAlta {
		max-width: 81px;
	}
}

@media screen and (min-width: 1279px) and (max-width: 1399px) {
	#container-logo_sierraBaja {
		max-width: 320px;
	}
}

@media screen and (max-width: 767px) {
	header {
		height: 100svh;
	}

	.background {
		width: 100vw;
		height: 100vh;
		height: 100svh;
		max-height: 100svh;
		grid-template-columns: 1fr;
	}

	.container-FadeIgame {
		width: 100%;
		height: 100%;
	}

	.background .container-FadeIgame:last-child {
		display: none;
	}

	#container-logo_sierraAlta {
		width: 80px;
		left: 4em;
		top: 0.1em;
	}

	#container-logo_sierraBaja {
		max-width: 235px;
		top: 0.05em;
	}

	.path {
		bottom: 0;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	.path {
		bottom: -14%;
	}
}

/* @media (min-height: 900px) {
	.path {
		background-color: red;
	}
} */
