.no-scroll {
	overflow: hidden;
}

.container-selectNav {
	position: relative;
}

.wraper-selectNav {
	background-color: transparent;
	color: var(--third-bg-color);
}

.container-selectNav ul {
	color: var(--main-bg-color);
	background-color: var(--third-bg-color);
	position: absolute;
	bottom: 2em;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	gap: 0.15em;
	padding: 0.5em;
	border-radius: 1em 1em 1em 0;
	opacity: 0;
	animation: fadeIn 0.2s linear forwards;
}

.container-selectNav ul li {
	color: inherit !important;
	background-color: inherit;
	cursor: pointer;
	transition: all 0.2s linear;
	font-family: "variableFontThing";
}

.container-selectNav ul li:hover:not(:last-child) {
	background-color: var(--main-bg-color);
	color: var(--third-bg-color) !important;
}

.container-selectNav ul li:last-child {
	border-bottom: 1px solid var(--main-bg-color);
	margin-bottom: 0.5em;
	padding-bottom: 0.25em;
	font-family: "variableFont" !important;
	text-transform: capitalize;
	font-size: 0.75em !important;
	cursor: none;
}

@media screen and (max-width: 768px) {
	.container-selectNav ul {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		border-radius: 0px;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5);
		gap: 0;
		padding: 0;
		z-index: 10;
	}

	.container-selectNav ul li {
		font-size: var(--font-size-md) !important;
		background-color: var(--third-bg-color);
		width: 200px;
		padding: 0.25em;
		z-index: 100;
	}

	.container-selectNav ul li:last-child {
		font-size: var(--font-size-md) !important;
		margin-bottom: 0;
		padding-top: 0.25em;
	}
}
