nav {
	position: absolute;
	width: 92.5vw;
	margin: 1rem;
	bottom: 0;
}

.custom-input {
	background: var(--main-bg-color);
	color: var(--third-bg-color);
	border: none;
	padding: 10px;
	font-size: var(--font-md-base);
	font-family: "variableFontThing";
	outline: none;
	cursor: pointer;
	width: 100%;
}

.custom-input::placeholder {
	color: var(--third-bg-color);
}

.custom-calendar {
	background: var(--third-bg-color);
	color: var(--main-bg-color);
}

.react-datepicker-popper,
.react-datepicker {
	border: none !important;
	background-color: var(--third-bg-color) !important;
	border-radius: none !important;
	padding: 0.5rem;
}

.react-datepicker__header {
	border-bottom: none !important;
}

.react-datepicker__month-container,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-names,
.react-datepicker__day-name,
.react-datepicker__month,
.react-datepicker__week,
.react-datepicker__day {
	background-color: var(--third-bg-color) !important;
	color: var(--main-bg-color) !important;
	font-family: "variableFontThing";
}

.react-datepicker__day--outside-month {
	color: #939393 !important;
}

.react-datepicker-popper,
.react-datepicker,
.react-datepicker__month-container {
	border-radius: 2rem 2rem 2rem 0 !important;
}

.react-datepicker__current-month {
	border-radius: 0.5rem !important;
	background-color: var(--third-bg-color) !important;
	border-color: var(--third-bg-color) !important;
	font-size: large !important;
}

.react-datepicker__day-names {
	font-size: medium;
}

.react-datepicker__day {
	font-size: medium;
}

.react-datepicker__header {
	padding-top: 0 !important;
}

.react-datepicker__current-month {
	padding-bottom: 1rem !important;
}

.react-datepicker__triangle {
	display: none;
}

.react-datepicker-popper {
	opacity: 0;
	animation: fadeIn 0.2s linear forwards;
	left: 1rem !important;
}

.react-datepicker__day--today {
	color: var(--secondary-bg-color) !important;
}

#ul-navbar {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 100%;
	width: 100%;
	margin: auto;
	align-items: center;
	font-family: "variableFontThing";
}

#ul-navbar .li {
	color: var(--third-bg-color);
	list-style: none;
	font-size: var(--font-size-md);
	text-align: center;
}

#ul-navbar .active {
	font-family: "variableFontBold";
}

#ul-navbar > .li:nth-child(even) {
	font-family: "variableFont-italic";
	transform: skewX(-15deg);
	font-size: var(--font-size-lg);
	flex-grow: 1;
}

#ul-navbar > :nth-last-child(1) {
	text-align: center;
	border: none;
	transform: none;
}

#ul-navbar button svg {
	color: var(--third-bg-color);
	background-color: transparent;
	font-size: var(--font-size-xl);
	vertical-align: middle;
}

#ul-navbar :nth-child(odd):hover {
	cursor: pointer;
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.25s both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.form {
	width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.react-datepicker-popper {
		position: relative;
		left: 3rem !important;
	}

	.custom-input {
		font-size: var(--font-size-base) !important;
	}

	.container-selectNav div {
		font-size: var(--font-size-base);
	}
}

@media screen and (max-width: 767px) {
	nav {
		width: 100vw;
		width: 100dvw;
		bottom: 0em;
	}

	#ul-navbar {
		grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.1fr;
		min-height: fit-content;
	}

	#ul-navbar .li {
		font-size: var(--font-size-sm);
	}

	#ul-navbar > .li:nth-child(2n) {
		font-size: var(--font-size-md);
	}

	.custom-input::placeholder {
		white-space: normal;
		vertical-align: text-top;
		text-align: center;
		word-wrap: break-word;
	}

	.custom-input {
		height: fit-content;
		padding: 0;
	}

	.react-datepicker-popper {
		height: 100vh;
		height: 100dvh;
		width: 100vw;
		width: 100dvw;
		min-width: 100vw;
		min-height: 100vh;
		position: fixed !important;
		padding: 0;
		border: none !important;
		border-radius: 0 !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		transform: none !important;
		margin: 0 !important;
		background-color: rgba(0, 0, 0, 0.6) !important;
		backdrop-filter: blur(5);
		-webkit-backdrop-filter: blur(5);
		z-index: 1000 !important;
		overflow: hidden !important;
	}

	.custom-calendar {
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		margin: 0 !important;
		border: none !important;
		border-radius: 12px !important;
		width: 100% !important;
		max-width: fit-content !important;
		border-radius: 0 !important;
	}

	.react-datepicker__month-container {
		float: none;
		border-radius: 0 !important;
	}

	.react-datepicker__current-month {
		font-size: large !important;
	}

	.react-datepicker__day {
		font-size: medium;
	}

	.react-datepicker__day--today {
		color: var(--secondary-bg-color) !important;
	}
}
