nav {
	position: absolute;
	bottom: 1rem;
	width: 90vw;
	margin: 1rem;
}

/* Estilo para el input */
.custom-input {
	background: var(--main-bg-color); /* Fondo oscuro */
	color: var(--third-bg-color); /* Texto claro */
	border: none;
	padding: 10px;
	font-size: 1.5rem;
	font-family: "variableFontThing";
	outline: none;
	cursor: pointer;
	width: 100%; /* Ajusta según necesites */
}

.custom-input::placeholder {
	color: var(--third-bg-color);
}

/* Estilo para el calendario emergente */
.custom-calendar {
	background: var(--third-bg-color);
	color: var(--main-bg-color);
}

.react-datepicker-popper,
.react-datepicker {
	border: none !important;
	/* border-radius: 1rem !important; */
	background-color: var(--third-bg-color) !important;
	border-radius: none !important;
	padding: 0.5rem;
}

.react-datepicker__header {
	border-bottom: none !important;
}

.react-datepicker__month-container,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-names,
.react-datepicker__day-name,
.react-datepicker__month,
.react-datepicker__week,
.react-datepicker__day {
	background-color: var(--third-bg-color) !important; /* Fondo oscuro */
	color: var(--main-bg-color) !important;
	font-family: "variableFontThing";
}

.react-datepicker__day--outside-month {
	color: #939393 !important;
}

.react-datepicker-popper,
.react-datepicker,
.react-datepicker__month-container {
	border-radius: 2rem 2rem 2rem 0 !important;
}

.react-datepicker__current-month {
	border-radius: 0.5rem !important;
	background-color: var(--third-bg-color) !important;
	border-color: var(--third-bg-color) !important;
	font-size: large !important;
}

.react-datepicker__day-names {
	font-size: medium;
}

.react-datepicker__day {
	font-size: medium;
}

.react-datepicker__header {
	padding-top: 0 !important;
}

.react-datepicker__current-month {
	padding-bottom: 1rem !important;
}

.react-datepicker__triangle {
	display: none;
}

.react-datepicker-popper {
	opacity: 0;
	animation: fadeIn 0.2s linear forwards;
}

#ul-navbar {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 90vw;
	width: 90dvw;
	margin: auto;
	align-items: center;
	font-family: "variableFontThing";
}

#ul-navbar li {
	color: var(--third-bg-color);
	list-style: none;
	font-size: 1.5rem;
	text-align: center;
}

#ul-navbar .active {
	font-family: "variableFontBold";
}

#ul-navbar > li:nth-child(even) {
	font-family: "variableFont-italic";
	transform: skewX(-15deg);
	font-size: 2.2rem;
	flex-grow: 1;
}

#ul-navbar > :nth-last-child(1) {
	text-align: center;
	border: none;
	transform: none;
}

#ul-navbar button svg {
	color: var(--third-bg-color);
	background-color: transparent;
	font-size: 2.5rem;
	vertical-align: middle;
}

#ul-navbar :nth-child(odd):hover {
	cursor: pointer;
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.25s both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.form {
	width: 100%;
}
