.container-footer {
	background-color: var(--secondary-bg-color);
	width: 100vw;
	overflow: hidden;
	height: 33dvh;
	min-height: auto;
	display: flex;
	padding: 4rem;
	position: relative;
	/* justify-content: space-between; */
	color: var(--main-bg-color);
	scroll-snap-align: start;
}

.wraper-social-medias {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: end;
}

.icon {
	font-size: 5rem;
	margin-right: 1.5rem;
	background-color: transparent;
	color: var(--main-bg-color);
	cursor: pointer;
}

.wraper-logo {
	background-color: transparent;
	display: flex;
	flex-direction: column;
}

.wraper-logo h1,
.wraper-logo p {
	background-color: transparent;
	color: var(--main-bg-color);
	text-align: center;
}

.wraper-logo img {
	background-color: transparent;
	max-width: 400px;
}

.wraper-logo h1 {
	font-family: "ciabatta";
	font-size: 5rem;
}

.wraper-logo p {
	font-family: "variableFont";
	font-size: 1.5rem;
}
.wraper-button {
	display: flex;
	align-items: end;
	background-color: transparent;
}

.wraper-button button {
	width: 350px;
	padding: 1.25rem;
	font-size: 1.5rem;
	background-color: transparent;
	color: var(--main-bg-color);
	border: 1px solid var(--main-bg-color);
	cursor: pointer;
	transition: 0.5s ease;
}

.wraper-button button:hover {
	background-color: var(--main-bg-color);
	color: var(--secondary-bg-color);
	border: 1px solid var(--secondary-bg-color);
}

.wraper-social-medias {
	position: absolute;
	left: 4rem;
	bottom: 4rem;
}

.wraper-logo {
	width: fit-content;
	height: fit-content;
	position: absolute;
	bottom: 4rem;
	left: 0;
	right: 0;
	margin: auto;
}

.wraper-button {
	position: absolute;
	bottom: 4rem;
	right: 4rem;
}

.wraper-social-medias,
.wraper-logo,
.wraper-button {
	opacity: 0;
	animation: fadeInBlur 0.5s linear 0.5s forwards;
}

.wraper-social-medias {
	transform: translateX(-50px);
	animation-delay: 0.7s;
}

.wraper-button {
	transform: translateX(50px);
	animation-delay: 0.7s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container-footer {
		height: 25svh;
		position: relative;
	}

	.container-footer {
		padding: 2rem;
	}

	.icon {
		font-size: 3rem;
		margin-right: 0.5rem;
		background-color: transparent;
	}

	.wraper-logo {
		justify-content: end;
	}

	.wraper-logo img {
		background-color: transparent;
		max-width: 250px;
	}

	.wraper-logo h1 {
		font-family: "ciabatta";
		font-size: 3rem;
	}

	.wraper-logo p {
		font-family: "variableFont";
		font-size: 1rem;
	}

	.wraper-button button {
		width: 220px;
		padding: 0.75rem;
		font-size: 1rem;
	}

	.wraper-social-medias {
		position: absolute;
		left: 2rem;
		bottom: 2rem;
	}

	.wraper-logo {
		width: fit-content;
		height: fit-content;
		position: absolute;
		bottom: 2rem;
		left: 0;
		right: 0;
		margin: auto;
	}

	.wraper-button {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.container-footer {
		height: 30svh;
		padding: 2rem;
		position: relative;
	}

	.icon {
		font-size: 3rem;
		margin-right: 0.75rem;
		background-color: transparent;
	}

	.wraper-logo img {
		background-color: transparent;
		width: 250px;
	}

	.wraper-logo h1 {
		font-size: 3rem;
	}

	.wraper-logo p {
		font-size: 1rem;
	}

	.wraper-button button {
		width: 225px;
		padding: 0.75rem;
		font-size: 1rem;
	}

	.wraper-social-medias,
	.wraper-logo,
	.wraper-button {
		bottom: 2rem;
	}

	.wraper-social-medias {
		left: 2rem;
	}

	.wraper-button {
		right: 2rem;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
	.container-footer {
		min-height: 28svh;
		height: 28svh;
		display: block;
		position: relative;
	}

	.icon {
		font-size: 4rem;
		margin-right: 0.75rem;
		background-color: transparent;
	}

	.wraper-logo img {
		background-color: transparent;
		width: 325px;
	}

	.wraper-logo h1 {
		font-size: 4rem;
	}

	.wraper-logo p {
		font-family: "variableFont";
		font-size: 1.5rem;
	}

	.wraper-button button {
		width: 280px;
		padding: 0.75rem;
		font-size: 1.5rem;
	}
}
