.container-comodidades {
	width: 100vw;
	min-height: 100vh;
	min-height: 100svh;
	height: auto;
	background-color: var(--secondary-bg-color);
	padding: 2em;
	font-family: "variableFont";
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-block: 3rem;
}

.container-comodidades > .row,
.item,
.container-comodidades img,
.container-comodidades p,
.container-comodidades strong {
	background-color: transparent;
}

.container-comodidades > .item:first-child,
.container-comodidades > .item:nth-child(2),
.container-comodidades > .item:nth-child(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 4.5rem;
}

.container-comodidades > .item:first-child,
.container-comodidades > .item:nth-child(2) {
	border-right: 1px solid var(--main-bg-color);
}

.container-comodidades .item {
	flex: 1 1 calc(33%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-bottom: 4rem;
}

.container-comodidades .item:last-child {
	flex-grow: 0;
}

.container-comodidades > .item:first-child img,
.container-comodidades > .item:nth-child(2) img,
.container-comodidades > .item:nth-child(3) img {
	width: fit-content;
	height: fit-content;
}

.container-comodidades > .item img {
	width: fit-content;
	height: fit-content;
}

.container-comodidades > .item:first-child strong,
.container-comodidades > .item:nth-child(2) strong,
.container-comodidades > .item:nth-child(3) strong {
	font-size: var(--font-size-xxl);
}

.container-comodidades .item p {
	color: var(--main-bg-color);
	font-family: "variableFontThing";
	width: 55%;
	opacity: 0;
	filter: blur(20);
	transform: translateX(100px);
	animation: fadeInBlur 0.8s linear forwards;
	font-size: var(--font-size-md);
}

.container-comodidades .item img {
	opacity: 0;
	animation: fadeInBlur 0.7s linear forwards;
}

.item:nth-child(n + 4):nth-child(-n + 6) p,
.item:nth-child(n + 4):nth-child(-n + 6) img {
	animation-delay: 0.3s;
}

.item:nth-child(n + 7):nth-child(-n + 9) p,
.item:nth-child(n + 7):nth-child(-n + 9) img {
	animation-delay: 0.6s;
}

.item:nth-child(n + 10):nth-child(-n + 12) p,
.item:nth-child(n + 10):nth-child(-n + 12) img {
	animation-delay: 0.9s;
}

.item:nth-child(n + 13):nth-child(-n + 15) p,
.item:nth-child(n + 13):nth-child(-n + 15) img {
	animation-delay: 1.2s;
}

.item:nth-child(n + 16):nth-child(-n + 18) p,
.item:nth-child(n + 16):nth-child(-n + 18) img {
	animation-delay: 1.5s;
}

/* .container-comodidades .item:nth-child(3n - 1) p {
	opacity: 0;
	filter: blur(20);
	animation: fadeInBlur 0.7s linear forwards;
}

.container-comodidades .item:nth-child(2) p {
	opacity: 0;
	filter: blur(20);
	animation: fadeInBlur 0.7s linear forwards;
} */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container-comodidades > .item:first-child strong,
	.container-comodidades > .item:nth-child(2) strong,
	.container-comodidades > .item:nth-child(3) strong {
		font-size: var(--font-size-lg);
	}

	.container-comodidades > .item p {
		font-size: var(--font-size-base);
		letter-spacing: 1px;
	}

	.container-comodidades > .item:nth-child(-n + 3) img {
		width: 8rem;
		height: auto;
	}

	.container-comodidades > .item:nth-child(-n + 3) p {
		letter-spacing: 0px;
	}

	.container-comodidades > .item img {
		width: 4rem;
		height: auto;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.container-comodidades > .item:first-child strong,
	.container-comodidades > .item:nth-child(2) strong,
	.container-comodidades > .item:nth-child(3) strong {
		font-size: var(--font-size-lg);
	}

	.container-comodidades > .item:nth-child(-n + 3) img {
		width: 8rem;
		height: auto;
	}

	.container-comodidades > .item p {
		font-size: var(--font-size-base);
		letter-spacing: 1px;
	}

	.container-comodidades > .item img {
		width: 4rem;
		height: auto;
	}
}

@media screen and (min-width: 1281px) and (max-width: 1919px) {
	.container-comodidades > .item:first-child strong,
	.container-comodidades > .item:nth-child(2) strong,
	.container-comodidades > .item:nth-child(3) strong {
		font-size: var(--font-size-xl);
	}

	.container-comodidades > .item:nth-child(-n + 3) img {
		width: 9rem;
		height: auto;
	}

	.container-comodidades > .item p {
		font-size: var(--font-size-base);
		letter-spacing: 1px;
	}

	.container-comodidades > .item img {
		width: 5rem;
		height: auto;
	}
}

@media screen and (max-width: 900px) {
	.container-comodidades {
		padding: 2em 0;
		padding-left: 1em;
	}

	.container-comodidades > .item:nth-child(3) {
		flex: 1 1 calc(50%);
		justify-content: start;
		flex-direction: row;
		align-items: center;
		text-align: start;
		margin-bottom: 2em;
	}

	.container-comodidades > .item {
		flex: 1 1 calc(50%);
		justify-content: start;
		flex-direction: row;
		align-items: center;
		text-align: start;
		margin-bottom: 3em;
	}

	.container-comodidades > .item:nth-child(2) {
		border-right: none;
		text-align: center;
	}

	.container-comodidades > .item:nth-child(2) p {
		text-align: center;
	}

	.container-comodidades > .item:first-child strong,
	.container-comodidades > .item:nth-child(2) strong {
		font-size: var(--font-size-md);
	}

	.container-comodidades > .item:nth-child(-n + 2) img {
		width: 5rem;
		height: auto;
	}

	.container-comodidades > .item p {
		font-size: var(--font-size-sm);
		letter-spacing: 1px;
	}

	.container-comodidades > .item img,
	.container-comodidades .item:nth-child(3) img {
		width: 3rem;
		height: auto;
	}

	.container-comodidades > .item:nth-child(3) strong {
		font-size: var(--font-size-sm);
	}
}

@media screen and (max-width: 900px) and (orientation: landscape) {
	.container-comodidades > .item {
		width: fit-content;
	}

	.container-comodidades > .item {
		justify-content: start;
	}

	.container-comodidades > .item:nth-child(odd):nth-child(n + 3) {
		padding-left: 3em;
	}

	.container-comodidades > .item:last-child p {
		width: 25%;
	}
}
