* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background-color: var(--main-bg-color);
}

:root {
	--main-bg-color: #f1ebdf;
	--secondary-bg-color: #7c7958;
	--third-bg-color: #30211d;
	--opinions-bg-color: #a7947e;
	--fourth-bg-color: #3d1808;

	--font-size-sm: clamp(0.8rem, 0.05vi + 0.79rem, 0.84rem);
	--font-size-base: clamp(1rem, 0.13vi + 0.97rem, 1.13rem);
	--font-size-md: clamp(1.25rem, 0.26vi + 1.18rem, 1.5rem);
	--font-size-lg: clamp(1.56rem, 0.46vi + 1.45rem, 2rem);
	--font-size-xl: clamp(1.95rem, 0.75vi + 1.77rem, 2.66rem);
	--font-size-xxl: clamp(2.44rem, 1.17vi + 2.15rem, 3.55rem);
	--font-size-xxxl: clamp(3.05rem, 1.77vi + 2.61rem, 4.73rem);
}

@font-face {
	font-family: "ciabatta";
	src: url("./fonts/ciabatta-9.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "variableFont";
	src: url("./fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "variableFontBold";
	src: url("./fonts/Archivo-Bold.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "variableFontThing";
	src: url("./fonts/Archivo-Thin.ttf") format("truetype");
	font-style: normal;
}

.italic {
	font-family: "variableFont-italic";
	font-size: 16px;
}

html body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin; /* Opciones: auto, thin o none */
	scrollbar-color: transparent var(--opinions-bg-color);
	scroll-snap-type: y mandatory;
	/* scroll-behavior: smooth; */
	/* Color del thumb y del track */
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeInRght {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadeInBtm {
	to {
		opacity: 1;
		transform: translateY(0px); /* Termina en la posición original */
	}
}

@keyframes fadeInBlutRght {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translate(0px);
	}
}

@keyframes fadeInBlur {
	to {
		opacity: 1;
		filter: blur(0);
		transform: translate(0px);
	}
}

::-webkit-scrollbar {
	width: 0.6rem; /* Para scroll vertical */
	height: 0.6rem; /* Para scroll horizontal */
}

/* Estilo del fondo del scrollbar */
::-webkit-scrollbar-track {
	background: transparent; /* Color de fondo */
	border-radius: 6px; /* Bordes redondeados */
}

/* Estilo del "thumb" (la barra desplazable) */
::-webkit-scrollbar-thumb {
	background: var(--opinions-bg-color); /* Color */
	border-radius: 6px; /* Bordes redondeados */
	/* border: 2px solid var(--opinions-bg-color) Espacio entre el thumb y el track */
}

/* Cambia el color del thumb al hacer hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--third-bg-color); /* Color al pasar el mouse */
}
