* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	background-color: var(--main-bg-color);
}

:root {
	--main-bg-color: #f1ebdf;
	--secondary-bg-color: #7c7958;
	--third-bg-color: #30211d;
	--opinions-bg-color: #a7947e;
	--fourth-bg-color: #3d1808;
}

@font-face {
	font-family: "ciabatta";
	src: url("./fonts/ciabatta-9.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "variableFont";
	src: url("./fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "variableFontThing";
	src: url("./fonts/Archivo-Thin.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "variableFont-italic";
	src: url("./fonts/Archivo-Italic-VariableFont_wdth,wght.ttf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

.italic {
	font-family: "variableFont-italic";
	font-size: 16px;
}

html body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(0px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInRght {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInBtm {
	from {
		opacity: 0;
		transform: translateY(20px); /* Empieza desde abajo */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* Termina en la posición original */
	}
}
.thumbnail.active {
	filter: grayscale(0%);
}
